.Comments
{
    img
    {
       width: 40px;
       height: 40px;
       border-radius: 50px;
       object-fit: cover;
       margin :0px 20px; 
    }
    .writecomment
    {
        margin-top: 20px;
        gap:20px;
        input 
        {
            width: fit-content;
        }
    button
        {
            cursor: pointer;
                border: none;
                background-color: white;
                margin-left: 20px;
        }
    }
}
