.outers
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.Addposts
{
  height: 60px;
  width: 400px;
  background-color: white;
  img 
  {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
  input
  {
    margin-top: 17px;
    width: 50%;
    font-size: 12px;
  }
  button 
  {
    margin-left: 10px;
    
    cursor: pointer;
    font-size: 12px;
  }
}